.player0 {
    -fx-background-color: orange;
    -fx-fill: orange;
}

.player1 {
    -fx-background-color: blue;
    -fx-fill: blue;
}

.player2 {
    -fx-background-color: magenta;
    -fx-fill: magenta;
}

.player3 {
    -fx-background-color: green;
    -fx-fill: green;
}

.player4 {
    -fx-background-color: yellow;
    -fx-fill: yellow;
}

.player5 {
    -fx-background-color: olive;
    -fx-fill: olive;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.colButton {
    -fx-background-image: url(/desktopApp/resources/downArrow.png);
    -fx-min-height: 40px;
    -fx-min-width: 50px;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 8px;
}

.emptyDisc {
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

.replayButton {
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 70%;
}

#rightReplayButton {
    -fx-background-image: url(/desktopApp/resources/rightArrow.png);
}

#leftReplayButton {
    -fx-background-image: url(/desktopApp/resources/leftArrow.png);
}

.nonActivePlayer {
    -fx-background-color: green;
}

.table-row-cell:disabled {
    -fx-background-color: #c1c1c1;
    -fx-control-inner-background: #c1c1c1;
}